<md-dialog aria-label="Add Anime" class="add-dialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="add.cancel()">
          <md-icon md-font-library="material-icons" aria-label="Close" alt="Close">
            close
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content ng-cloak>
      <div class="md-dialog-content">
          <form ng-submit="$event.preventDefault()" name="searchForm">
              <md-autocomplete
                  class="add-input"
                  md-input-name="autocompleteField"
                  md-selected-item="add.selectedItem"
                  md-selected-item-change="add.selectedItemChanged(add.selectedItem)"
                  md-search-text="add.searchText"
                  md-search-text-change="add.searchTextChanged(add.searchText)"
                  md-items="item in add.querySearch(add.searchText)"
                  md-item-text="item.display"
                  md-min-length="0"
                  md-autofocus>
                  <md-item-template>
                      <span md-highlight-text="add.searchText" md-highlight-flags="^i">{{ item.display }}</span>
                  </md-item-template>
                  <md-not-found>
                      Not animes matching "{{ add.searchText }}" were found.
                  </md-not-found>
              </md-autocomplete>
              <span class="error-message" ng-bind="add.fail"></span>
          </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button aria-label="Add" ng-click="add.add($event)">Add</md-button>
    </md-dialog-actions>
</md-dialog>
