.download-dialog {
  width: 480px;

  .md-subheader-inner {
    padding: 2px;
    padding-left: 4px;
    font-size: 12px;
  }

  .download-path {
    font-weight: normal;

    strong {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  section.download-list {
    overflow: auto;
    overflow-x: hidden;
    max-height: 35vh;
    background-color: #424242;
  }

  .download-item {
    padding: 0px;
    margin: 0px;

    .download-item-title {
      margin: 0px;
      padding: 4px;
    }

    .download-item-episodes {
      margin: 0px;
      padding: 4px;
      font-weight: normal;
    }
  }
}
